.container {
    max-width: 120rem;
    background-color: var(--grey-light-1);
    margin: 8rem auto;
    box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--grey-light-2)

}

.content {
    display: flex;

}

.sidebar {
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
   
}

.hotel-view {
  background-color: orangered;
  //element grows as much as it can with flex:1
  flex: 1;
}